.sidebar{
  position: fixed;
  left: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  bottom: 0;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
  background-color: lightgrey;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 5px;
}
  .sidebar-link div{
  font-family: Arial;
  font-size: 10px;
  }